<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Fault</title>
    <!-- favicon -->
    <link href="img/DrivEz_logo.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
     <!-- Vue 3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Redirect to other pages if not correct status. Not done yet-->
    <script>
        if (sessionStorage["status"] != null){
            
        }
    </script>
    
</head>
<body>
    <div id="app">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg mb-4" style="background-color:rgb(247, 240, 240); z-index:10000;">
            <div class="container-fluid">

                <!-- insert brand icon here, image found in resources-->
                <a class="navbar-brand fs-1" href="booking.html">
                    <span>Ride</span><span class="text-info">Ez</span><span>.</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <h4 class="mx-1"><a href="#">Report Fault</a></h4>
                        </li>
                        <li class="nav-item">
                            <h4 class="mx-1" id="username">Welcome!</a></h4>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-danger" onclick="logout()"> <a  href="logout.html"><h4 class="mx-1">Logout</h4></a> </button>                  
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row mb-4">
                <div class="col-12">
                    <h1 class="text-center display-4">Report Fault</h1>
                    <button class="btn btn-danger fs-4" @click="goBack()">Go Back To Booking Details</button> &nbsp; 
                </div>
            </div>
            <div class="row mb-3 fs-4">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 justify-content-center">
                    Fault Type: 
                    <select class="form-select" v-model="faultTypeSelected">
                        <option v-for="fault in faultTypes" :value="fault">{{fault}}</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3 fs-4">
                <div>
                    Description of Fault:<br>
                    <textarea class="form-control" v-model="faultDescription" rows="3" placeholder="Please describe the fault found in detail (at least 50 characters)">

                    </textarea>
                </div>
            </div>
            <button class="btn btn-success fs-4" :disabled = "faultDescription.length < 50">Submit Form</button>
            <!-- Show the options possible after submission of report -->
            <div class="fs-4 mt-3" v-show="false">
                Submission Successful.
                Your fault has been successfully reported and we have evaluated your submission.
                You can either:
                <ul>
                    <li>
                        Seek a refund. The refund status will be communicated to you via SMS.<br>
                        <button class="btn btn-primary">Seek Refund</button>
                    </li> 
                    <li>
                        Get a replacement vehicle. A vehicle that is nearest to the current vehicle will be assigned to you.<br>
                        <button class="btn btn-primary">Get Replacement Vehicle</button>
                    </li>
                </ul>
                
            </div>
            <div v-show="false">
                Submission Not Successful.
                
            </div>
        </div>
        
    </div>
    
    <!-- Set username on banner + logout script-->
    <script>
        document.getElementById("username").innerText = "Welcome, " + sessionStorage.getItem("username") + "!";
        function logout(){
            sessionStorage.clear();
        }   
    </script>
    <!-- Vue script -->
    <script src="js/report_fault.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</body>
</html>